@import url('https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Noto+Serif&display=swap');

:root {
    --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    --bg-color: #343d4b;
    --bg-color--card: #222831;

    --main-text-color: #ffffff;

    --main-border-radius: 8px;
    --secondary-border-radius: 6px;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}
